:root {
    --primary-color: #f80;
    --secundary-color: #00498d;
    --dark-primary-color: #e07800;
    --dark-secundary-color: #00315f;
    --light-color: #e9e9e9;
    --dark-color: #2c2c2c;
}

.sidebar-cart {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    max-width: 400px;
    padding: 32px;
    box-shadow: 5px 5px 50px var(--dark-color);
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    display: none;
}

.sidebar-cart::-webkit-scrollbar {
    display: none;
}

.sidebar-cart .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.sidebar-cart .top button {
    background-color: var(--dark-color);
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.sidebar-cart .btn-icon {
    margin: 12px 0;
}

.italico {
    text-align: center;
    font-size: 14px;
}


@media(max-width:768px) {
    .italico {
        font-size: 12px;
    }
}