:root {
    --primary-color: #f80;
    --secundary-color: #00498d;
    --dark-primary-color: #e07800;
    --dark-secundary-color: #00315f;
    --light-color: #e9e9e9;
    --dark-color: #2c2c2c;
}

.page-inner-content {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 16px;
}

.section-title {
    padding-bottom: 32px;
    margin-top: 48px;
}

.section-title h3 {
    text-align: center;
    font-size: 29px;
}

.underline {
    width: 150px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 4px auto;
}